body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

ul,
ol {
    padding-left: 0;
    list-style: none;
}

p,
h2 {
    color: #070707;
    font-style: bold;
}

.wrapper {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
}

.nav {
    position: relative;
    margin-bottom: 32px;
}

.nav::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #828282;
    box-shadow: 0px 2px 5px #0000002b;
}

.menu {
    padding: 20px 0;
    max-width: 640px;
    margin: 0 auto;
}

.menu__item {
    display: inline-block;
    width: calc(20% - 4px);
    text-align: center;

}

.menu__link {
    text-decoration: none;
    color: #828282;
    font-size: 18px;
    font-weight: 400;
    text-shadow: 0px 2px 2px #00000052;
    transition: all 0.25s linear;
}

@media screen and (max-width: 576px) {
    .menu__link {
        font-size: 16px;
    }
}

@media screen and (max-width: 576px) {
    .menu__link {
        font-size: 12px;
    }
}


.menu__link:hover {
    color: #070709;
}

.banner {
    font-size: 0;
}

.banner>img {
    width: 100%;
}

.banner__title {
    font-size: 48px;
    font-weight: bold;
}

.main {
    background-color: #FFFFFF;
    width: 100%;
}

.about {
    background-color: #E5E5E5;
}

main h2,
.about__title {
    margin: 0;
    padding: 100px 0 0 0;
    text-align: center;
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
}

.about__text {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 480px;
    margin-top: 50px;
}

.about__text>p {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    margin: 0;
}

.about__text>p:nth-child(2) {
    margin: 30px 0;
}

.about__text>p:nth-child(3) {
    padding-bottom: 100px;
}

.skills {
    background-color: #FFFFFF;
}

.skill__content {
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    margin-bottom: 100px;
    text-align: center;
}

.skills__title {
    padding-top: 100px;
}

.skill__content>p {
    padding-top: 20px;
    padding-bottom: 50px;
    margin: 0;
    font-size: 18px;
    line-height: 25px;
    color: #070707;
}

.skill__ilustration {
    width: 100%;
    padding-bottom: 100px;
    text-align: center;
}

.ilustration__photoshop,
.ilustration__Illustrator,
.ilustration__ae,
.ilustration__figma {
    display: inline-block;
    margin: 0 45px;
    width: 160px;
    height: 100%;
}

.ilustration__photoshop>img:first-child,
.ilustration__Illustrator>img:first-child,
.ilustration__ae>img:first-child,
.ilustration__figma>img:first-child {
    display: block;
    margin: 0 auto;
}

.ilustration__photoshop>p,
.ilustration__Illustrator>p,
.ilustration__ae>p {
    width: 80px;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 25px 0 50px 0;
    font-size: 14px;
    line-height: 19px;
    color: #828282;
}

.ilustration__figma>p {
    width: 80px;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 25px 0 69px 0;
    font-size: 14px;
    line-height: 19px;
    color: #828282;
}

.portfolio {
    background-color: #E5E5E5;
    width: 100%;
}

.portfolio>h2 {
    padding: 100px 0 50px 0;
    margin: 0;
}

.wrapper__img {
    max-width: 970px;
    margin: 0 auto;
    display: block;
}

.wrapper__img>img {
    width: 100%;
    object-fit: contain;
    height: auto;
}

.portfolio>p {
    padding: 40px 0 70px 0;
    text-align: center;
    margin: 0;
}

.portfolio>p:nth-child(7) {
    padding: 40px 0 100px 0;
    text-align: center;
    margin: 0;
}

.footer__contacts {
    color: #070707 solid;
    font-size: 34px;
    line-height: 50px;
    text-align: center;
    padding: 100px 0 20px 0;
    font-weight: 700;
}

.footer>p {
    text-align: center;
    line-height: 25px;
    font-weight: 400;
    padding: 0 0 60px 0;
    margin: 0;
}

.footer__link {
    display: block;
    width: 220px;
    height: 40px;
    background-color: #070707;
    color: #FFFFFF;
    border-radius: 22px;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
    margin: 0 auto;
    padding-top: 18px;
    text-decoration: none;
}

.footer__icons {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
}

.footer__icons>img {
    margin: 25px;
}

.footer>p:nth-child(5) {
    color: #828282;
    font-size: 14px;
    line-height: 20px;
    padding: 0 0 100px 0;
}